
:root{
  --primary_bg: #E8EAEE;
  --nav_bg: #060b26;
  --primary: #303236;
  --secondary: #879299;
  --icon_bg: #EDF1F4;
  --active_element_bg: #5474FF;
  --info-bg : #F1F5F9;
  --primary-btn: #060b26;
  --danger-color: #dc3545;
}


p,a,span,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

a{
  color: var(--nav_bg) !important;
}

/* Layout */

.justify-text{
  text-align: justify;
}

body{
  overflow-x: hidden;
}

.main_divider{
  height: 5px;
  width: 100%;
  background-color: var(--secondary);
  margin: 3rem 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.cursor-pointer{
  cursor: pointer;
}

.viewport_h-full{
  height: 80vh;
}

.display-fixed{
  position: fixed !important;
  width: 100%;
  top: 0;
  left: 0;
}
.default-margin{
  margin-top: 80px;
}

.width-max-content{
  width: max-content;
}

.height-100{
  height: 100%;
}

/* Colors */
.primary{
  color: var(--primary);
}
.heading-color{
  color: var(--nav_bg)
}
.secondary{
  color: var(--secondary);
}
.color-white{
  color: white;
}
.color-highlight{
  color: var(--active_element_bg);
}
.danger-color{
  color: var(--danger-color);
}

/* Fonts */

.font_15{
  font-size: 15px;
}

.font_14{
  font-size: 14px;
}
.font_12{
  font-size: 12px;
}

.font_40{
  font-size: 40px;
}
.font_30{
  font-size: 30px;
}

.font_28{
  font-size: 1.75em;
}
.font_22{
  font-size: 22px;
}

.font_16{
  font-size: 16px;
}

.font_48{
  font-size: 48px;
}
.bold {
  font-weight: bold;
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

/* Borders */
.radius_15{
  border-radius: 15px;
}

.outline_none:focus{
  outline: none;
}

.box-shadow-none:focus, .box-shadow-none:active{
  box-shadow: none !important;
}

/* Font Families */
.montserrat_regular{
  font-family: 'Montserrat Alternates', sans-serif;
}
.roboto{
  font-family: 'Roboto';
}

/* Backgrounds */
.secondary_bg{
  background-color: var(--info-bg);
}
.icon_bg{
  color: var(--icon_bg);
}
.active_element_bg{
  color: var(--active_element_bg);
}


/* Buttons */
.btn_primary{
  padding: 0.8rem 2rem !important;
  background-color: var(--primary-btn) !important;
  color: white !important;
  border: none !important;
  border-radius: 9px !important;
}
.btn_primary:focus{
  outline: none !important;
}
.btn_secondary{
  padding: 0.8rem 2rem;
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--secondary);
  border-radius: 9px;
  font-weight: bold;
}
.btn_secondary:hover{
  background-color: transparent;
  color: black;
  border: 1px solid var(--secondary);
}

.angle_buttons{
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;
}
.angle_buttons svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subscribed{
  background-color: grey;
  color: #000;
}

.subscribed:focus{
  outline: none !important;
}


/* Cards */
.avatar{
  border-radius: 50%;
}

.card_box_shadow{
  box-shadow: 0 20px 40px -20px rgba(0,0,0,0.4);
}
