.cover_area{
    /* background-color: red; */
    height: clamp(150px, 30vh + 1rem, 35vh);
    border-bottom: 2px solid rgba(0,0,0,0.06);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.channel--profile-picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid black;
    transform: translateY(75px);
    background-color: #EEEEEE;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.channel--profile-picture span{
    margin: 0;
    font-size: 50px;
    font-weight: bolder;
}

.channel--nav{
    background-color: #CCCCCC;
    /* padding-top: 75px; */
}

.channel--nav .row {
    height: 170px;
}

.add-news{
    position: relative;
}
.add-news p{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.25px;
    transition: 0.5s ease-in-out;
    margin-right: -150px !important;
    z-index: -99;
}
.add-news:hover p{
    margin-right: 15px !important;
}


/* Collections */
.collections--tile {
    width: 100%;
    height: 288px;
    position: relative;
}

.collections--tile .content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #fff;
    border-radius: 11px;
}

.collections--tile .layer1 {
    width: 100%;
    height: inherit;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    background-color: #fff;
    border-radius: 11px;
}
.collections--tile .layer2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 0;
    border-radius: 11px;
    background-color: #fff;
}
